.MuiOutlinedInput-notchedOutline {
  border-radius: 50px !important;
  padding: 0%;
  height: 6ch;
}

.user-Icon,
.location-Icon,
.email-Icon,
.call-Icon {
  color: #584bc7;
}
.camera-Icon {
  background: linear-gradient(to right, #2745d5 0%, #866bbd 100%);
  border-radius: 50%;
  color: white;
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
